# Permite reescribir las peticiones de URL
allow from all
Options All -Indexes

#Redireccionando errores a paginas de errores

ErrorDocument 403 /views/errores/403.php
ErrorDocument 404 /views/errores/404.php
