# Permite reescribir las peticiones de URL
allow from all
Options All -Indexes

#Redireccionando errores a paginas de errores

ErrorDocument 403 http://localhost/Proyecto-_Catedra_LIS_2023/views/Errores/403.html
ErrorDocument 404 http://localhost/Proyecto-_Catedra_LIS_2023/views/Errores/404.html
